<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FindTheRocks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04F5BCD42C05CD0000AC5205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F5BCE62C05CD0200AC5205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F5BCF02C05CD0200AC5205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
